<div class="jumbotron">
  <div class="row">
    <div class="col-10">
      <h1>Home</h1>
      <p>
        textotextotextotextotextotextotextotexto<br>
        textotextotextotextotextotextotextotexto<br>
        textotextotextotextotextotextotextotexto<br>
      </p>
    </div>
    <div class="col-2">
      <%= image_tag "cafe-sapo.jpeg", :class => "img-thumbnail rounded"%>
    </div>
  </div>
</div>

<% unless current_user %>
  <div class="lead text-center">
    <%= link_to 'Login', new_user_session_path %>
  </div>
<% end %>